#portfolio {  
margin: 74px 0  36px;
-webkit-column-count: 3; 
-moz-column-count: 3;

-webkit-column-width: 33.33333333333333%;
-moz-column-width: 33.33333333333333%;
column-width: 33.33333333333333%;
}
.tile { 
-webkit-transform: scale(0);
transform: scale(0);
-webkit-transition: all 350ms ease;
transition: all 350ms ease;
    width: 100%;
    max-width: 100%;
}


.scale-anm {
transform: scale(.99);
}



.tile img {
max-width: 99%;
width: 99%;
height: auto;
padding: 10px 0px;

}

.btn {
color: #353535!important;
font-size: 14px!important;
font-weight: 400!important;
text-decoration: none;
cursor: pointer!important;
/* display: inline-block; */
line-height: normal;
border: 1px solid #353535!important;
margin: 0 5px!important;
border-radius: 0px!important;
height: auto;
vertical-align: middle;
-webkit-appearance: none;
/* color: #555; */
padding: 13px 29px!important;
text-transform: capitalize;
background-color: rgba(0, 0, 0, 0);
}

.btn:hover {
text-decoration: none;
background:#ffc815;
border: 1px solid #ffc815!important;
}

.btn:focus {
outline: none;
border-color: var(--darken-2);
box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
border: 0;
padding: 0;
}
.portfolio{
margin: 80px 0;
width: 100%;
}
.toolbar  {
margin: 0 auto;
text-align: center;
}
.view a{
background: #353535;
text-decoration:none;
padding: 11px 30px;
font-size: 16px;
color: #ffffff;;
}
.view a:hover{
background:#ffc81f;
text-decoration:none;

}
