<template>
    <div class="flex justify-center items-centers">
        <div class="w-full max-w-xl">
            <heading class="flex mb-3">G2 Reviews</heading>
            <p class="text-90 leading-tight mb-8">
                This is the official Dashboard that I will use to monitor my G2 and capterra reviews
            </p>

            <card>
                <table class="w-full" cellpadding="0" cellspacing="0">

                    <tr v-for="link in links">
                        <td class="align-top   border-50  flex p-6">
                            {{ new Date(link.created_at).toDateString()}}
                        </td>

                        <td class="align-top  border-b border-50">
                            <a class="no-underline dim flex p-6" :href="link.link">
                                {{ link.review_name }}
                            </a>
                        </td>
                        <td class="align-top border-b border-50">
                            <a class="no-underline dim flex p-6" @click="login(link.account.account_email)">
                                Login
                            </a>


                        </td>
                    </tr>
                </table>
            </card>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'card',

            // The following props are only available on resource detail cards...
            // 'resource',
            // 'resourceId',
            // 'resourceName',
        ],
        data() {
            return {
                links: {}
            }
        },
        mounted() {
            axios.get('/nova-vendor/paypal/reviews').then(response => {
                this.links = response.data;
            }).catch(err => {
                console.log(err);
            });
        },
        methods: {
            login(account) {
                let newUri =
                    `https://www.g2.com/identities/start_login?email=&_simple_bot_form_dummies=["email"]&utf8=✓&return_to=&business_email_required=false&identity[email]=` + account;

                window.location.href =newUri;
            }
        },
    }
</script>
